# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Flask
instance/
.webassets-cache
.env
.flaskenv

# Base de datos
*.db
*.sqlite
*.sqlite3
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Archivos de entorno
.env.local
.env.development
.env.production

# Logs
*.log
logs/
